.box-comment {background-color: #FFFFFF;clear: both;margin-top: 15px;overflow: hidden;padding: 10px 0 15px 10px;position: relative;width: 622px;float:left;}
h2.bct-title {color: #00918d;float: left;font-size: 15px;font-weight: bold;height: 30px;line-height: 30px;width: 100%;}
h2.bct-title span {padding-left: 10px;}
.bct-content {border: 1px solid #DCDCDC;float: left;margin-top: 5px;width: 608px;}
.bct-content h3.bct-c-tab {color: #00918d;float: left;height: 30px;line-height: 30px;padding-left: 10px;width: 598px;}
.bct-content h3.bct-c-tab a {color: #565656;}
.bct-content .list-wrap{height:auto !important;width:608px;float:left}
.bct-content .list-wrap .cm-study, .bct-content .list-wrap .cm-facebook{float:left:width:608px;}
.bct-content h3.bct-c-tab a:hover, .bct-content h3.bct-c-tab a.active,.bct-content h3.bct-c-tab a.current {color: #00918d;}
.bct-c-input {float: left;width: 100%;padding-bottom:10px;background-color:#F1F1F1;}
.bct-c-input .bct-ct-top {float: left;width: 100%;margin-top:10px;}
.bct-c-input .bct-ct-top img.img-avata {float: left;height: 55px;width: 55px;margin:0px 10px;border:1px solid #efefef;}
.bct-c-input .bct-ct-top .name-user {color:#00918d;float: left;font-weight:bold;}
.bct-c-input .bct-ct-top .txt-input {border: 1px solid #DCDCDC;float: left;width: 505px;line-height:18px;color:#565656;padding:3px 5px;height:60px;margin-top:3px;}
.bct-ct-bottom{float:left;width:100%;margin-top:10px;}
.bct-ct-bottom a.bct-ct-lnksend{ background: none repeat scroll 0 0 #039497;color: #ffffff;float: right;font-weight: bold;height: 25px;line-height:25px;margin-right: 15px;text-align: center;width: 66px;}
.bct-ct-bottom a.bct-ct-lnksend:hover,.bct-ct-bottom a.active{background: none repeat scroll 0 0 #0ebebc;color:#ffffff;}
.bct-c-list {float: left;width: 100%;}
.bct-h3-title{float:left;width:100%;line-height:25px;font-size:14px;height:25px;background:url(../images/gd_18.png) repeat-x left top;color:#ffffff;border-top:1px solid #08888A;border-bottom:1px solid #08888A;}
.bct-h3-title a{color:#ffffff;padding-left:10px;}
.bct-c-list .bct-cl-row {color: #565656;float: left;line-height: 18px;width: 100%;}
.bct-c-list .bct-cl-row h3.bct-clr-title {background: url("../images/gd_43.png") repeat-x scroll left top transparent;border-bottom: 1px solid #DCDCDC;border-top: 1px solid #DCDCDC;float: left;height: 19px;line-height: 19px;width: 100%;font-size:12px;}
.bct-c-list .bct-cl-row h3.bct-clr-title a {color: #00918d;padding-left: 10px;}
.bct-c-list-parent {border-bottom:1px solid #dcdcdc;padding-bottom:10px;}
.bct-c-list-parent .bct-cl-row h3.bct-clr-title{color:#00918D;background:url(../images/gd_43.png) repeat-x left top #EFEFEF;height:25px;line-height:25px;border-top:0px; font-size:14px;}
.bct-c-list-parent .bct-cl-row h3.bct-clr-title a {color:#00918D;padding-left:10px;}
.bct-c-list-parent .bct-cl-row .bct-clr-text{font-weight:bold;}
.bct-c-list .bct-cl-row .bct-clr-text {float: left;padding: 5px 10px 0;width: 588px;height:auto;overflow:hidden;}
.bct-c-list .bct-cl-row .hiden-question {max-height:55px;}
.view-more-question{width:100%;float:left;margin-top:5px;}
.view-more-question a{padding-left:10px;}
.bct-clr-lnk {float: left;margin-top: 10px;padding: 0 10px 5px;width: 588px;}
.bct-clr-lnk a {color: #565656;}
.bct-clr-lnk a img {}
.comment-pagging{float:left;width:100%;margin-top:10px;padding-bottom:10px;}
.comment-pagging .cp-number{float:right;font-size:14px;color:#565656;font-weight:bold;}
.comment-pagging .cp-number a{color:#565656;padding:0px 8px;line-height:18px}
.comment-pagging .cp-number a:hover, .comment-pagging .cp-number a.active{color: #00918d;}
.comment-pagging .cp-number .lnk-pag-back {
    background: url("../images/gd_11.png") no-repeat scroll 7px -3px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    position: relative;
    top: 2px;
    width: 8px;
}
.comment-pagging .cp-number .lnk-pag-back:hover {
    background: url("../images/gd_11.png") no-repeat scroll 7px -69px rgba(0, 0, 0, 0);
}
.comment-pagging .cp-number .lnk-pag-next {
    background: url("../images/gd_11.png") no-repeat scroll 2px -25px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    position: relative;
    top: 2px;
    width: 8px;
}
.comment-pagging .cp-number .lnk-pag-next:hover {
    background: url("../images/gd_11.png") no-repeat scroll 2px -47px rgba(0, 0, 0, 0);
}


.comment-pagging a.cp-view-more{float:right;padding-right:10px;color:#565656;font-weight:bold;}
.bct-viewmore{ border-top: 1px solid #DCDCDC;float: left;height: 30px;line-height: 30px;overflow: hidden;width: 100%;}
.bct-viewmore a.lnk-viewmore{ float:right;padding-right:10px;font-weight:bold;color:#565656;}
.answer-sort{border-top: 1px solid #DCDCDC;float: left;padding: 5px 0;width: 100%;}
.answer-sort span.sp-answer-text{color: #00918d;float: left;font-size: 14px;font-weight: bold;line-height: 22px;padding-left: 10px;}
.answer-sort a{background: url("../images/gd_45.png") no-repeat scroll left top transparent;color: #ffffff;float: right;font-size: 11px;font-weight: bold;height: 22px;line-height: 20px;margin-right: 10px;text-align: center;width: 102px;}
.answer-sort a:hover, .answer-sort a.active{background:url(../images/gd_45.png) no-repeat left -22px;color:#ffffff;}
.box-answer-chidren{border-top:1px solid #DCDCDC;float:left;width:100%;padding-bottom:20px;}
.bc-wrap {border-left: 1px solid #DCDCDC;border-bottom: 1px solid #DCDCDC;float: left;margin-left: 90px;overflow: hidden;width: 517px;background-color:#F1F1F1;}
.bc-like {border-bottom: 1px solid #DCDCDC;float: left;padding: 3px 0;width: 100%;}
.bc-comment {border-bottom: 1px solid #DCDCDC;float: left;padding: 3px 0;width: 100%;}
.bc-list .bct-cl-row{padding-bottom:10px;border-bottom:1px solid #dcdcdc}
.bc-list .bct-cl-row h3.bct-clr-title {background: none repeat scroll 0 0 transparent;border: 0 none;}
.bc-list .bct-cl-row h3.bct-clr-title a {color: #00918d;padding-left: 15px;}
.bc-list .bct-cl-row .bct-clr-text {float: left;overflow: hidden;padding: 0 10px 0 15px;width: 497px;}
.bc-list .view-more-question a{padding-left:15px;}
.like-time{float:left;width:100%;margin-top:3px;}
.like-time a{padding-left:15px;color:#565656;}
.bct-c-input .bct-ct-top .name-user {padding-left: 15px;}
.bct-c-input .bct-ct-top .txt-input {margin-left: 15px;width: 480px;}
.bct-ct-bottom {}
.bct-ct-bottom a.bct-ct-lnksend {margin-right: 12px;}
.latex-math{display: inline-block; padding: 0 5px;}
.bc-formula{background: url("../images/gd_22.png") repeat-x scroll left top transparent;border-bottom: 1px solid #DCDCDC;border-top: 1px solid #DCDCDC;color: #00918d;float: left;font-size: 13px;font-weight: bold;height: 25px;line-height: 25px;margin-top: 10px;width: 100%;cursor:pointer;}
.bc-formula .item-left{float:left;padding-left:15px;}
.bc-formula .item-right{background:url(../images/gd_39.png) no-repeat left top;width:18px;height:16px;float:left;float: right;height: 16px;margin-right: 15px;margin-top: 6px;width: 18px;}
.bct-c-list .bct-cl-study{background-color:#FEF5CA;}
.bct-c-list .bct-cl-study h3.bct-clr-title {background: url("../images/gd_43_b.png") repeat-x scroll left top transparent;}
.skill-regis-btn{background:none repeat scroll 0 0 #039497 !important;border-radius:0px !important;}
