#front-menu {
    -webkit-box-shadow: inset 0px -5px 10px 0px #F0F0F0;
    -moz-box-shadow: inset 0px -5px 10px 0px #F0F0F0;
    -o-box-shadow: inset 0px -5px 10px 0px #F0F0F0;
    -ms-box-shadow: inset 0px -5px 10px 0px #F0F0F0;
    box-shadow: inset 0px -5px 10px 0px #F0F0F0;
    border-bottom: 1px solid #E0E0E0;
    height: 40px;
    background: white;
    margin-top: 0px;
}

#front-menu-placeholder {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #E8E8E8;
    /*border-right: 1px solid #E8E8E8;*/
}

.front-menu-item {
    list-style: none;
    display: inline-block;
    height: 31px;
    vertical-align: middle;
    padding-top: 10px;
    border-right: 1px solid #E8E8E8;
    text-align: center;
    min-width: 110px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
}

.front-menu-item a:hover {
    color: #0073AC;
    cursor: pointer;
}

.front-menu-item a {
    color: #222;
    text-decoration: none;
}

#front-menu-list {
    margin-top: 0px;
    height: 40px;
    padding: 0px;
    display: table-cell;
    width: 700px;
}

#front-menu-login-register {
    display: table-cell;
    width: 300px;
    text-align: right;
}

#front-menu-login, #front-menu-register {
    list-style: none;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    padding-top: 10px;
    border-left: 1px solid #E8E8E8;
    text-align: center;
    min-width: 90px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
}

#front-menu-login a, #front-menu-register a {
    color: #222;
    text-decoration: none;
}

#front-menu-login a:hover, #front-menu-register a:hover {
    color: #0073AC;
}

.front-menu-active {
/*    background: white !important;
    border-bottom: none;
    height: 31px;*/
    
}

.front-menu-active a {
/*    color: #F36D00 !important;*/
    color: #F36D00;
}

.has-sub-menu:hover {
    background: white !important;
    border-bottom: none !important;
    height: 31px;
}

.front-menu-item:hover .menu-subitem-list {
    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
/*    border-bottom: 1px solid #E8E8E8;*/
    display: block;
    position: absolute;
    width: 160px;
    margin-top: 12px;
    margin-left: -5px;
    padding: 0px !important;
    
/*        -webkit-box-shadow:  1px 2px 8px 1px #E0E0E0;
        
        box-shadow:  1px 2px 8px 1px #E0E0E0;*/
        
}

.menu-subitem-list a {
    color: black !important;
    font-weight: normal;
}

.menu-subitem-list li {
    list-style: none;
    padding: 14px 0px 14px 20px;
    text-align: left !important;
/*    border-bottom: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;*/
/*    margin-bottom: -1px;*/
    border-bottom: 1px solid #E8E8E8;
    background: white;
}

.menu-subitem-list li:hover {
    background: #F6F6F6;
    
}

.menu-subitem-list {
    display: none;
}