
.box-multiChoice {background-color: #FFFFFF;clear: both;margin-top: 15px;overflow: hidden;padding: 10px 0 15px 10px;position: relative;width: 950px;}
.box-multiChoice h2.bm-title {color: #00918d;float: left;font-size: 15px;font-weight: bold;line-height: 22px;padding-left: 15px;padding-bottom:2px;width: 923px;}
.box-multiChoice .bm-result {border: 1px solid #DCDCDC;float: left;margin-top: 15px;padding-bottom: 15px;width: 936px;}
.box-scores {float: left;margin-top: 9px;}
.bs-left {background: url("../images/gd_16.png") repeat-x scroll left bottom #FCFCFC;border:1px solid #DCDCDC;border-right:0px;float: left;padding-bottom: 15px;width: 360px;}
.bs-left h3.bsl-title {background: url("../images/gd_22.png") repeat-x scroll left top transparent;border-bottom: 1px solid #DCDCDC;color: #00918d;float: left;font-size: 14px;height: 30px;line-height: 30px;width: 100%;}
.bs-left h3.bsl-title span{padding-left:15px}
.bs-left .bsl-content {color: #565656;float: left;width: 100%;}
.bs-left .bsl-content .bsl-point {float: left;font-family: tahoma;font-size: 70px;margin-top: 10px;text-align: center;width: 100%;}
.bs-left .bsl-content .bsl-text {float: left;line-height: 18px;margin-top: 10px;width: 100%;}
.bsl-text .bsl-sp-left {float: left;font-weight: bold;padding-left: 15px;width: 185px;}
.bsl-text .bsl-sp-right {float: right;padding-right: 15px;text-align: right;width: 135px;}
.bm-result h3.bmr-title {background: url("../images/gd_22.png") repeat-x scroll left top transparent;border-bottom: 1px solid #DCDCDC;color: #00918d;float: left;font-size: 14px;
height: 30px;line-height: 30px;padding-left: 15px;width: 921px;}
.bm-result .table-result {border: 1px solid #5EB3DA;display: inline;float: left;margin-left: 15px;margin-top: 15px;width: 904px;}
.table-result .tr-row {background-color: #DBF0FF;border-top: 1px solid #5EB3DA;color: #565656;float: left;height: 40px;line-height: 40px;width: 100%;}
.table-result .row-top {border: 0 none;}
.table-result .tr-row .tr-item-left {background-color: #BAE3FF;border-right: 1px solid #5EB3DA;float: left;font-weight: bold;padding-left: 10px;width: 300px;}
.table-result .tr-row .item-odd {background-color: #97D4FF;}
.table-result .tr-row .tr-item-right {float: left;padding-left: 30px;width: 563px;}
.view-result {  border: 1px solid #DCDCDC;
display: inline;
float: left;
padding-bottom: 15px;
width: 575px;}
.view-result h3.vr-title {background: url("../images/gd_22.png") repeat-x scroll left top transparent;
border-bottom: 1px solid #DCDCDC;
color: #00918d;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
width: 100%;}
.view-result h3.vr-title span{padding-left:15px;}
.view-result p.vr-text {  color: #565656;
display: inline;
float: left;
height: 48px;
line-height: 18px;
margin-top: 45px;
text-align: center;
padding:0px 50px;
font-weight:bold;}
.view-result p.vr-btn {float: left;margin-top: 14px;width: 100%;}
.view-result p.vr-text  span{display:block;padding:0px 15px}
p.vr-btn a{  color: #FFFFFF;display: inline;float: left;font-weight: bold;height: 35px;line-height: 35px;margin-left: 9px;text-align: center;width: 133px;}
p.vr-btn a{background:none repeat scroll 0 0 #039497;color:#ffffff}
p.vr-btn a:hover, p.vr-btn a.active{background:none repeat scroll 0 0 #0ebebc;color:#ffffff;}
.lectures-other {border: 1px solid #DCDCDC;display: inline;float: right;margin-right: 15px;margin-top: 15px;width: 448px;}
.lectures-add{margin-right: 10px;width: 462px;} 
.lectures-other h3.lo-title {background: url("../images/gd_22.png") repeat-x scroll left top transparent;border-bottom: 1px solid #DCDCDC;color: #00918d;float: left;font-size: 14px;height: 30px;line-height: 30px;padding-left: 15px;width: 433px;}
.lectures-add h3.lo-title{width: 447px;}
.lectures-other ul.lo-ul {float: left;padding-bottom: 15px;width: 100%;overflow:hidden;}
.lectures-other ul.lo-ul li {float: left;margin-top: 5px;width: 100%;overflow:hidden;}
ul.lo-ul li a.lo-lnk {color: #565656;line-height: 20px;padding-left: 15px;padding-right:15px;display:inline-block;}
ul.lo-ul li a.lo-lnk:hover {color:#00918D}
ul.lo-ul li a.lo-lnk span.lo-sp {color: #00918d;font-weight: bold;}
/*question*/
.question {border: 1px solid #DCDCDC;float: left;margin-top: 5px;width: 936px;}
.question .h3q-title {background: url("../images/gd_22.png") repeat-x scroll left top transparent;color: #00918d;float: left;font-size: 14px;height: 30px;line-height: 30px;padding-left: 15px;width: 921px;}
.question .h3q-title span.qspan-right a.lnk-q-filter{background: url("../images/gd_45.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    float: right;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    line-height: 20px;
    margin-right: 7px;
    margin-top:5px;
    text-align: center;
    width: 102px;}
.question .question-list {float: left;padding-bottom: 15px;border-top: 1px solid #DCDCDC;display:block;}
.question ._question-list {display:none !important;}
.question .question-list .ql-row {background:url("../images/gd_16.png") repeat-x scroll left bottom #FCFCFC;border: 1px solid #DCDCDC;display: inline;float: left;margin-left: 15px;margin-top: 15px;padding-bottom: 15px;width: 904px;}
.ql-row .stt-left {float: left;width: 75px;}
.ql-row .stt-left span.sttl-sp {background: url("../Images/gd_29.png") no-repeat scroll left top transparent;color: #FFFFFF;display: inline;float: left;font-size: 18px;font-weight: bold;height: 41px;line-height: 41px;margin-left: 10px;margin-top: 10px;text-align: center;width: 41px;}
.ql-row .stt-left span.sp-child{font-size:13px;}
.ql-row .ct-right {color: #565656;float: left;width: 820px;}
.ql-row .ct-right .ctr-recommend {border-bottom: 1px solid #DCDCDC;float: left;font-weight: bold;line-height: 18px;margin-top: 15px;padding-bottom: 10px;width: 100%;}
.ql-row .ct-right .ctr-choice {float: left;margin-top: 15px;width: 100%;}
.ql-row .ct-right .ctr-choice .txt {
    border: 1px solid #dcdcdc;
    float: left;
    height: 25px;
    padding: 0 10px;
    position: relative;
    top: -5px;
}
.ql-row .ct-right .ctr-choice .sp-choice {float: left;width: 160px;margin-top:2px;}
.ql-row .ct-right .ctr-choice ul.ul-choice {float: left;width: 650px;}
.ql-row .ct-right .ctr-choice table {float: left;width: 650px;}
.ql-row .ct-right .ctr-choice table tr {float: left;width: 640px;}
.ql-row .ct-right .ctr-choice table tr td {float: left;width: 640px;}
.ql-row .ct-right .ctr-choice table tr td span{float:left;padding: 5px;width: 640px;}
.ql-row .ct-right .ctr-choice table tr td span.rd{line-height:18px;}
.ql-row .ct-right .ctr-choice table tr td span label{cursor:pointer}
.ql-row .ct-right .ctr-choice table tr td span.result{-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;background: none repeat scroll 0 0 #BAE3FF;}
.ql-row .ct-right .ctr-choice table tr td input {float: left;margin-right: 10px;margin-top: 2px;height:17px;cursor:pointer}
.ql-row .ct-right .ctr-choice table tr td lable {float: left;}
.ql-row .ct-right .ctr-choice ul.ul-choice li {float: left;padding: 5px;width: 640px;}
.ql-row .ct-right .ctr-choice ul.ul-choice li.result{-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;background: none repeat scroll 0 0 #BAE3FF;}
.ql-row .ct-right .ctr-choice ul.ul-choice li input.rd {float: left;margin-right: 10px;margin-top: 2px;}
.ql-row .ct-right .ctr-choice ul.ul-choice li input.txt{color: #676576;height: 18px;padding: 0 5px;width: 180px;} 
.ql-row .ct-right .ctr-choice ul.ul-choice li span.ul-sp-choice {float: left;}
.ql-row .ct-right .ctr-note {color: #AAAAAA;float: left;font-size: 11px;line-height: 15px;margin-top: 15px;width: 820px;}
.ql-row .ct-right .ctr-note span.bold {color: #565656;}
.ql-row .ct-right .ctr-result {float: left;font-size: 11px;line-height: 15px;margin-top: 10px;width: 820px;}
.ql-row .ct-right .ctr-result p {}
.ql-solution {background: none repeat scroll 0 0 #FFFFFF;float: left;margin: 10px 10px 10px 75px;width: 817px;border: 1px solid #DCDCDC;}
.ql-solution p.qls-p {color: #565656;line-height: 21px;padding: 10px;}
.ql-row .div-view-solution {color: #767676;float: left;font-size: 13px;line-height: 15px;margin-top: 15px;width: 820px;margin-left:75px;display:inline;}
.bm-test-again {float: left;margin-top: 15px;width: 100%;}
.bm-test-again {float: left;margin-top: 15px;width: 100%;}
.bm-test-again .bm-test-again-lnk {background:none repeat scroll 0 0 #039497;color: #ffffff;display: inline;float: left;font-weight: bold;height: 35px;line-height: 35px;margin-left: 375px;text-align: center;width: 145px;}
.bm-test-again .bm-test-again-lnk:hover{background: none repeat scroll 0 0 #0ebebc;color: #Ffffff;}
/*box-test-course*/
.test-course {background-color: #FFFFFF;border: 1px solid #DCDCDC;clear: both;overflow: hidden;padding: 10px 0 10px 10px;position: relative;width: 948px;margin-top:15px;}
.test-course .tab-test-course {border-bottom: 1px solid #DCDCDC;float: left;height: 35px;line-height: 35px;width: 938px;}
.test-course .tab-test-course h3.title-test {color: #00918d;float: left;font-size: 15px;font-weight: bold;padding-left: 10px;}
.test-course .tab-test-course a {float: right;height: 16px;margin-left: 15px;margin-top: 10px;width: 14px;}
.test-course .tab-test-course a.ttc-pre {background: url("../images/gd_11.png") no-repeat scroll left top transparent;}
.test-course .tab-test-course a.ttc-next {background: url("../images/gd_11.png") no-repeat scroll 0 -16px transparent;}
.test-course .wrap-bxslider{overflow:hidden;float:left;width: 944px;}
.test-course .content-test {float: left;margin-top: 15px;overflow: hidden;width: 100%;}
.test-course .div-more-test {border-top: 1px solid #DCDCDC;float: left;margin-top: 15px;width: 100%;}
.test-course .div-more-test .lnk-view-test {background: url("../images/gd_14.png") no-repeat scroll left top transparent;color: #FFFFFF;display: inline;float: left;font-size: 14px;
font-weight: bold;height: 37px;line-height: 37px;margin-left: 415px;margin-top: 10px;text-align: center;width: 103px;}
.test-course .content-test .column-class {background: url("../images/gd_16.png") repeat-x scroll left bottom transparent;border: 1px solid #DCDCDC;color: #565656;float: left;margin-right: 5px;width: 229px;padding-bottom:10px;}
.test-course .content-test .w-column-class{width:236px;float:left;}
.test-course .content-test .column-class .title-class {float: left;font-size: 15px;font-weight: bold;height: 30px;line-height: 30px;text-align: center;width: 100%;background:url(../images/gd_17.png) repeat-x left top;color:#ffffff;}
.test-course .content-test .column-odd .title-class {background: url("../images/gd_18.png") repeat-x scroll left top transparent;}
.test-course .content-test .column-class .ct-class {float: left;text-align: center;width: 100%;}
.test-course .content-test .column-class .ct-class a {color: #565656;display: block;font-size: 14px;font-weight: bold;line-height: 18px;margin-top: 10px;}
.test-course .content-test .column-class .ct-class a:hover{color:#00918d;}
.box-teacher .content-test .column-class{ background:url(../images/gd_19.png) repeat-x left bottom;}
.test-course .content-test .column-class a.lnk-img-teacher{ float: left;height: 120px;margin-top: 10px;overflow: hidden;padding-left: 10px;width: 210px;}
.test-course .content-test .column-class a.lnk-img-teacher img{width:210px;}
.test-course .content-test .column-class h3.info-teacher {border-top: 1px solid #DCDCDC;float: left;font-size: 12px;font-weight: normal;line-height: 16px;margin-top: 10px;padding-left: 10px;padding-top: 5px;width: 219px;}
.test-course .content-test .column-class h3.info-teacher a {color: #565656;display: block;font-weight: bold;}
.test-course .content-test .column-class h3.info-teacher span {display: block;}
/*test-online*/
.box-test-online {background-color: #FFFFFF;border: 1px solid #DCDCDC;clear: both;margin-top: 15px;overflow: hidden;padding: 10px 0px 10px 10px;position: relative;width: 948px;}
.box-test-online .h2-to-title {border-bottom: 1px solid #DCDCDC;color: #00918d;float: left;font-size: 15px;font-weight: bold;height: 35px;line-height: 35px;padding-left: 10px;width: 928px;}
.to-content {float: left;width: 100%;}
.to-c-left {border: 1px solid #DCDCDC;float: left;width: 620px;margin-top:20px;}
.to-c-left .to-c-l-tile {background: url("../images/gd_22.png") repeat-x scroll left top transparent;border-bottom: 1px solid #DCDCDC;color: #00918d;float: left;font-size: 14px;
height: 30px;line-height: 30px;padding-left: 10px;width: 610px;}
.to-c-left p.p-list {border-bottom: 1px solid #DCDCDC;color: #565656;float: left;font-size: 14px;font-weight: bold;height: 30px;line-height: 30px;padding-left: 10px;width: 610px;
}
.to-c-l-list {float: left;}
.to-c-l-list .row {border-bottom: 1px solid #DCDCDC;float: left;margin-bottom: 1px;padding: 10px 30px 10px 10px;width: 580px;}
.to-c-l-list .row:hover, .to-c-l-list .row-active {color:#00918d !important;}
.row p.to-l-p-img {background: url("../images/gd_21.png") repeat-x scroll left top transparent;border: 1px solid #DCDCDC;color: #FFFFFF;float: left;font-weight: bold;height: 55px;
margin-right: 15px;text-align: center;width: 70px;}
.row p.to-l-p-img span.sp-text {display: block;font-size: 11px;line-height: 17px;}
.row p.to-l-p-img span.sp-number {display: block;font-family: helvetica;font-size: 40px;line-height: 35px;}
.row p.to-l-p-name {float: left;line-height: 18px;margin-top: 15px;width: 410px;}
.row p.to-l-p-name span {}
.row a.to-l-btn {background: url("../images/gd_20.png") no-repeat scroll left top transparent;color: #FFFFFF;float: right;font-size: 11px;font-weight: bold;height: 17px;line-height: 14px;margin-top: 17px;text-align: center;width: 66px;}
.to-c-l-list .row:hover a.to-l-btn, .to-c-l-list .row-active a.to-l-btn {background: url("../images/gd_20.png") no-repeat scroll 0 -17px transparent;}
.to-l-view-more {float: left;height: 40px;line-height: 40px;padding-right: 10px;text-align: right;width: 610px;}
.to-l-view-more .to-l-lnk-more {color: #565656;font-weight: bold;}
/*vote-star*/

.starsbar.gdsr-size-24, .starsbar.gdsr-size-24 .gdheight, .starsbar.gdsr-size-24 a {height: 24px;}
.starsbar.gdsr-size-24 a.s1 {width: 24px;}
.starsbar.gdsr-size-24 a.s2 {width: 48px;}
.starsbar.gdsr-size-24 a.s3 {width: 72px;}
.starsbar.gdsr-size-24 a.s4 {width: 96px;}
.starsbar.gdsr-size-24 a.s5 {width: 120px;}
.ratepost.gdsr-size-24, .ratepost.gdsr-size-24 .starsbar .gdouter {width: 120px;}
.rcmmpost.gdsr-size-24, .rcmmpost.gdsr-size-24 .starsbar .gdouter {width: 120px;}
.rcmmmulti.gdsr-size-24, .rcmmmulti.gdsr-size-24 .starsbar .gdouter {width: 480px;}
.ratecmm.gdsr-size-24, .ratecmm.gdsr-size-24 .starsbar .gdouter {width: 120px;}
.reviewcmm.gdsr-size-24, .reviewcmm.gdsr-size-24 .starsbar .gdouter {width: 120px;}
.gdsr-oxygen .starsbar.gdsr-size-24 .gdouter {background: url("../../www.onlineseeding.vn/wp-content/plugins/gd-star-rating/stars/oxygen/stars24.png") repeat-x scroll 0 0 transparent;}
.gdsr-oxygen .starsbar.gdsr-size-24 .gdinner {background: url("../../www.onlineseeding.vn/wp-content/plugins/gd-star-rating/stars/oxygen/stars24.png") repeat-x scroll 0 -48px transparent;}
.gdsr-oxygen .starsbar.gdsr-size-24 .gdcurrent {background: url("../../www.onlineseeding.vn/wp-content/plugins/gd-star-rating/stars/oxygen/stars24.png") repeat-x scroll 0 -24px transparent;}
.gdsr-oxygen .starsbar.gdsr-size-24 a:hover {background: url("../../www.onlineseeding.vn/wp-content/plugins/gd-star-rating/stars/oxygen/stars24.png") repeat-x scroll 0 -24px transparent !important;}
.ratepost{display: block;position: relative;margin-top:7px;float:left;}
.ratepost .starsbar .gdinner {width: 0;}
.ratepost .starsbar a:active{border: 0 none !important;text-decoration: none;}
.ratepost .starsbar a:visited {border: 0 none !important;text-decoration: none;}
.ratepost .starsbar a:hover {border: 0 none !important;text-decoration: none;}
.ratepost .starsbar a{background: none repeat scroll 0 0 transparent !important;border: 0 none !important;cursor: pointer;display: block;left: 0;position: absolute;text-decoration: none;top: 0;}
span.sp-vote{float:left;margin-left:10px;display:inline;}
/*start-test*/
.start-test {float: left;padding-bottom: 30px;width: 100%;}
.tt-left {border: 1px solid #DCDCDC;color: #565656;float: left;line-height: 18px;margin-top: 5px;padding-bottom: 20px;width: 468px;}
.tt-right {border-left: 0 none;}
.tt-left h3.ttl-title {background: url("../images/gd_22.png") repeat-x scroll left top transparent;border-bottom: 1px solid #DCDCDC;color: #00918d;float: left;font-size: 14px;height: 30px;line-height: 30px;text-align: center;width: 468px;}
.start-test h3.stt-h3{border: 1px solid #DCDCDC;border-bottom:0px;color: #00918d;float: left;font-size: 14px;height: 30px;line-height: 30px;text-align: center;width: 937px}
.tt-left .ttl-p1 {margin-top: 20px;}
.tt-left .ttl-p2 {}
.tt-left .ttl-p3 {}
.tt-left p {float: left;height: 22px;text-align: center;width: 448px;padding:0px 10px;}
.tt-start {float: left;margin-top: 20px;width: 100%;}
.tt-start .tt-tart-lnk {background:none repeat scroll 0 0 #039497;color: #ffffff;display: inline;float: left;font-weight: bold;height: 35px;line-height: 35px;margin-left: 399px;text-align: center;width: 145px;}
.tt-start .tt-tart-lnk:hover,.tt-start .active {background:none repeat scroll 0 0 #0ebebc;color: #ffffff;}
.start-vote-cout {background: url("../images/gd_22.png") repeat-x scroll left bottom transparent;border: 1px solid #DCDCDC;color: #565656;float: left;font-size: 14px;font-weight: bold;line-height: 30px;margin-top: 20px;padding-left: 20px;padding-right: 20px;width: 865px;}
.start-vote-cout .ratepost{margin-top:2px;}
.start-vote-cout .svc-left {float: left;}
.start-vote-cout .svc-left .svc-sp {float: left;margin-right: 15px;}
.start-vote-cout .svc-right {float: right;}
/*table*/
.table-total {background-color: #FFFFFF;border: 1px solid #DCDCDC;clear: both;margin-top: 15px;overflow: hidden;padding: 10px 0 15px 10px;position: relative;width: 948px;}
.table-total table {border: 1px solid #DCDCDC;float: left;width: 936px;}
.table-total table tr {text-align: center;}
.table-total table tr th {background: url("../images/gd_17.png") repeat-x scroll left top transparent;color: #FFFFFF;height: 28px;}
.table-total table tr td {border: 1px solid #DCDCDC;padding: 15px 5px;}
/*time-remain*/
.time-remain {font-weight: bold;position: fixed;right: 10px;top: 50%;width: 120px;}
.time-remain span.sp-text {color: #565656;float: left;font-size: 14px;line-height: 18px;}
.time-remain span.sp-time {background: url("../Images/gd_36.png") no-repeat scroll left top transparent;color: #00918d;float: left;font-size: 18px;height: 23px;line-height: 24px;
margin-top: 2px;padding-left: 30px;}
/*form-send*/
.form-recomment {margin-top: 10px;width: 308px;overflow:hidden;display:none;}
.fr-row {float: left;margin-top: 14px;width: 100%;}
.fr-row .sp-left {float: left;font-weight: bold;margin-right: 15px;}
.fr-row .sp-right {float: left;}
.fr-row .sp-right textarea.fr-txtArea {background: url("../images/gd_35.png") repeat-x scroll left top transparent;border: 1px solid #DCDCDC;color: #656565;height: 65px;line-height: 16px;padding: 5px;width: 215px;}
.fr-row a.fr-btn {background: url("../images/gd_20.png") no-repeat scroll left top transparent;color: #FFFFFF;float: left;font-size: 11px;font-weight: bold;height: 17px;line-height: 17px;margin-left: 135px;text-align: center;width: 66px;}
.fr-row a.fr-btn:hover {background: url("../images/gd_20.png") no-repeat scroll left -17px transparent;}
h3.fr-title{color:#00918d; font-size: 13px;float:left}
/*box-my-course*/
.my-course{clear: both;overflow: hidden;position: relative;width: 958px;border:1px solid #DCDCDC;background-color:#FFFFFF;margin-top:15px;}
.my-course .box-course{float: left;width: 100%}
.my-course .box-course h2.title-my-course{font-size:15px;font-weight:bold; color:#00918d;float:left;line-height:31px;width:100%;background:url(../images/gd_08.png) repeat-x left top;height:31px;}
.my-course .box-course h2.title-my-course span{padding-left:15px;}
.my-course .box-course .course-content{float:left;width:100%; background: url("../images/gd_16.png") repeat-x scroll left bottom #FFFFFF;}
.my-course .box-course .course-content .cc-left{float: left;padding-left: 10px;width: 220px;overflow:hidden; background:#ffffff;padding:10px;border-right:1px solid #DCDCDC;}
.my-course .box-course .course-content .cc-left a{float:left;width: 220px;height:123px;overflow:hidden;}
.my-course .box-course .course-content .cc-left img{width:220px;}
.my-course .box-course .course-content .cc-right{float: left;padding: 10px 15px;color:#565656;width: 686px;}
.my-course .box-course .course-content .cc-right .row{border-top: 1px solid #DCDCDC;float: left;line-height: 18px;padding-bottom: 5px;width: 100%;}
.my-course .box-course .course-content .cc-right .name-teacher{border: 0px;}
.my-course .box-course .course-content .cc-right .row h3{ color:#565656;font-weight:bold;margin-top:10px;}
.my-course .box-course .course-content .cc-right .name-teacher h3{color:#00918d;margin-top:0px;}
.my-course .box-course .course-content .cc-right .row p{}
.my-course .box-course .course-content .cc-right .row .row-left{float:left;width:405px;overflow:hidden;height:45px;}
.my-course .box-course .course-content .cc-right .row .row-right{float:right;text-align:right;}
.my-course .box-course .course-content .cc-right .row a.btn-course{background: url("../images/gd_10.png") no-repeat scroll left top transparent;color: #ffffff;float: right;font-weight: bold;height: 27px;line-height: 27px;text-align: center;width: 133px;margin-top:15px;}
.my-course .box-course .course-content .cc-right .row a.btn-course:hover,.my-course .box-course .course-content .cc-right .row a.active{background: url("../images/gd_10.png") no-repeat scroll left -27px transparent;color:#FFF;}
.course-top{float:left;width:100%;text-align:center;margin-top:10px;}
.course-top a{font-weight:bold;color:#00918d;font-size:14px;}
.q-sp-right{background:url(../images/gd_39.png) no-repeat left top;width:18px;height:16px;float:left;float: right;height: 16px;margin-right: 15px;margin-top: 8px;width: 18px;}
.box-alert{background: none repeat scroll 0 0 #EEEEEE;border-radius: 4px 4px 4px 4px;box-shadow: 0 3px 7px #333333;display: none;position: fixed;bottom:15px;right:15px;width: 435px;min-height:115px;z-index: 99999999;}
.box-alert  a.bat-close{float: right; line-height: 30px; margin-right: 10px; color:#ffffff}
.box-alert h3.bat-title span{padding-left:15px;float:left;}
.box-alert h3.bat-title{ background: url("../images/gd_17.png") repeat-x scroll left top transparent;color: #FFFFFF;float: left;font-family: tahoma;font-size: 14px;height: 30px;
line-height: 30px;width: 100%;}
.box-alert .bat-content{ color: #565656;overflow: hidden;padding: 20px;line-height:18px;}
.box-alert .bat-content p.bat-text{ text-align: center;width: 100%;}
/*rank-member*/
.rb-rank-member {
border-bottom: 1px solid #EDEEEE;
float: right;
margin-top: 10px;
margin-right:10px;
width: 464px;
}
.rb-rank-member .rbm-title {
background: url("../images/gd_27b.png") repeat-x scroll left top transparent;
border-radius:5px 5px 0 0;
color: #FFFFFF;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
width: 100%;
text-align:center;
}
.rb-rank-member .rbm-title span{float:left;padding-left:13px;}
.rb-rank-member table {
background-color: #FFFFFF;
float: left;
width: 100%;
}
.rb-rank-member table th {
border: 1px solid #EDEEEE;
color: #00918D;
padding: 4px;
}
.rb-rank-member table th {
background: url("../images/gd_22.png") repeat-x scroll left top transparent;
border: 1px solid #EDEEEE;
color: #00918D;
padding: 4px;
}
.rb-rank-member table td {
border: 1px solid #EDEEEE;
padding: 5px;
}
.rb-rank-member table tr {
}
.rb-rank-member table tr td.td-sp {
text-align: center;
}
.rb-rank-member table tr td.td-sp span {
color: #00918D;
font-weight: bold;
}
.rb-rank-member table tr.tr-top {
background-color: #E2EDFF;
}