#body-content{margin-top:15px;overflow:hidden;width:100%;}
.left-body{float:left;width:632px;}
.right-body{float:right;width:318px;}
.lb-info{background-color:#FFFFFF;float:left;padding:15px 15px 12px;width:602px;}
.lb-info .lb-title{color:#00918d;float:left;font-size:15px;font-weight:bold;line-height:20px;margin-top:5px;width:100%;}
.lb-info p.lb-teacher{color:#565656;float:left;font-weight:bold;line-height:18px;margin-top:5px;width:100%;overflow:hidden;height:18px;}
.lb-info p.lb-content{color:#777777;float:left;width:100%;line-height:20px;margin-top:5px;overflow:hidden;height:100px;}
.lb-info div.lb-content{color:#777777;float:left;width:100%;line-height:20px;margin-top:5px;overflow:hidden;height:100px;}
.lb-info .lb-btn{background:url("../images/gd_10_b.png") no-repeat scroll left top transparent;color:#ffffff;float:left;font-weight:bold;height:27px;line-height:27px;margin-top:15px;text-align:center;width:160px;text-decoration:none !important;}
.lb-info .lb-btn:hover ,.lb-info .active{background:url("../images/gd_10_b.png") no-repeat scroll left -27px transparent;color:#ffffff;}
.lb-info .lb-share{border-top:1px solid #DCDCDC;float:left;margin-top:10px;text-align:right;width:100%;height:40px;overflow:hidden;}
.lb-wrap{background-color:#FFFFFF;border-bottom:1px solid #DCDCDC;border-left:1px solid #DCDCDC;border-right:1px solid #DCDCDC;float:left;}
h2.lbw-title{background:url("../images/gd_22.png") repeat-x scroll left top #EFEFEF;border-bottom:1px solid #DCDCDC;color:#00918D;float:left;font-size:14px;line-height:20px;overflow:hidden;padding:5px 0 5px 15px;width:615px;}
.lbw-player{border-bottom:1px solid #DCDCDC;float:left;padding:20px;width:590px;}
.lbw-documment{border-bottom:1px solid #DCDCDC;float:left;width:630px;}
.lbw-documment h3.title-documment{background:url("../images/gd_22.png") repeat-x scroll left top transparent;border-bottom:1px solid #DCDCDC;color:#00918d;float:left;font-size:14px;height:30px;line-height:30px;padding-left:15px;width:615px;}
.lbw-documment ul.ul-documment{float:left;padding-bottom:5px;padding-left:15px;padding-top:5px;width:615px;}
.lbw-documment ul.ul-documment li{float:left;margin-top:5px;width:100%;}
.lbw-documment ul.ul-documment li a{color:#565656;line-height:18px;padding-left:25px;float:left;height:18px;}
.lbw-documment ul.ul-documment li.li-tl1 a{background:url("../images/gd_24.png") no-repeat scroll left top transparent;color:#565656;line-height:18px;}
.lbw-documment ul.ul-documment li.li-tl2 a{background:url("../images/gd_25.png") no-repeat scroll left top transparent;}
.lbw-documment ul.ul-documment li.li-tl3 a{background:url("../images/gd_26.png") no-repeat scroll left top transparent;}
.lbw-list{color:#565656;float:left;width:630px;}
.lbw-list .lbw-list-tile{background:url("../images/gd_22.png") repeat-x scroll left top transparent;border-bottom:1px solid #DCDCDC;color:#00918d;float:left;font-size:14px;height:30px;line-height:30px;padding-left:15px;width:615px;}
.lbw-list p.p-list{border-bottom:1px solid #DCDCDC;color:#565656;float:left;font-size:14px;font-weight:bold;height:30px;line-height:30px;padding-left:10px;width:610px;}
.lbw-list-content{float:left;padding:0 15px;width:600px;}
.lbw-list-content .row{border-bottom:1px solid #DCDCDC;float:left;margin-bottom:1px;padding:10px 0;width:600px;}
.lbw-list-content .row:hover, .lbw-list-content.row-active{color:#00918d !important;}
.row .lbw-list-img{background:url("../images/gd_21.png") repeat-x scroll left top transparent;border:1px solid #DCDCDC;color:#FFFFFF;float:left;font-weight:bold;height:55px;margin-right:15px;text-align:center;width:61px;}
.row .lbw-list-img span.sp-text{display:block;font-size:11px;line-height:17px;}
.row .lbw-list-img span.sp-number{display:block;font-family:helvetica;font-size:35px;line-height:35px;}
.row .lbw-list-name{float:left;line-height:18px;margin-top:15px;width:410px;}
.row .lbw-list-name span{}
.row a.lbw-list-btn{background:url("../images/gd_20.png") no-repeat scroll left top transparent;color:#ffffff;float:right;font-size:11px;font-weight:bold;height:17px;line-height:14px;margin-top:17px;text-align:center;width:66px;}
.row a.lbw-list-btn:hover, .row a.active{background:url("../images/gd_20.png") no-repeat scroll left -17px transparent;color:#ffffff;}
.lbw-list-content .row:hover a.lbw-list-btn, .lbw-list-content .row-active a.lbw-list-btn{background:url("../images/gd_20.png") no-repeat scroll 0 -17px transparent;color:#ffffff;}
.lbw-list-view-more{float:left;height:40px;line-height:40px;padding-right:15px;text-align:right;width:600px;}
.lbw-list-view-more .lbw-list-lnk-more{color:#565656;font-weight:bold;}
.rb-adv01{background-color:#FFFFFF;border:1px solid #DFDFDF;float:left;padding:13px;width:290px;}
.rb-adv01 .rb-adv01-lnk{float:left;overflow:hidden;width:290px;}
.rb-adv01 .rb-adv01-lnk img{width:290px;}
.rb-course{float:left;width:318px;margin-top:15px;}
.rb-course .rbc-title{background:url("../images/gd_27.png") repeat-x scroll left top transparent;color:#FFFFFF;float:left;font-size:14px;height:30px;line-height:30px;padding-left:13px;width:305px;}
.rb-course .rbc-ul{background-color:#FFFFFF;border:1px solid #DCDCDC;float:left;max-height:280px;overflow:auto;padding-bottom:10px;padding-left:13px;width:303px;}
.rb-course .rbc-ul li{float:left;margin-top:8px;width:286px;}
.rb-course .rbc-ul li a{color:#767676;line-height:20px;}
.rb-course .rbc-ul li a span.rbc-sp{color:#00918d;font-weight:bold;}
.rb-rank-member{border-bottom:1px solid #DFDFDF;float:left;margin-top:15px;width:307px;}
.rb-rank-member .rbm-title{background:url("../images/gd_27.png") repeat-x scroll left top transparent;color:#FFFFFF;float:left;font-size:14px;height:30px;line-height:30px;padding-left:13px;width:294px;}
.rb-rank-member table{background-color:#FFFFFF;float:left;width:100%;}
.rb-rank-member table th{background:url("../images/gd_22.png") repeat-x scroll left top transparent;border:1px solid #DCDCDC;color:#00918d;padding:4px;}
.rb-rank-member table td{border:1px solid #DCDCDC;padding:5px;}
.rb-rank-member table tr{}
.rb-rank-member table tr td.td-sp{text-align:center;}
.rb-rank-member table tr td.td-sp span{color:#00918d;font-weight:bold;}
.rb-rank-member table tr.tr-top{background-color:#E2EDFF;}
.rbm-more{background-color:#FFFFFF;border-left:1px solid #DFDFDF;border-right:1px solid #DFDFDF;float:left;height:25px;line-height:25px;text-align:right;width:316px;}
.rbm-more .rbm-lnk-more{color:#565656;font-weight:bold;padding-right:13px;}
.rb-active{float:left;margin-top:15px;width:318px;}
.test-course{background-color:#FFFFFF;clear:both;overflow:hidden;padding:10px 0 10px 10px;position:relative;width:950px;margin-top:15px;}
.test-course .tab-test-course{border-bottom:1px solid #DCDCDC;float:left;height:35px;line-height:35px;width:938px;}
.test-course .tab-test-course h3.title-test{color:#00918d;float:left;font-size:15px;font-weight:bold;padding-left:10px;}
.test-course .tab-test-course a{float:right;height:16px;margin-left:15px;margin-top:10px;width:14px;}
.test-course .tab-test-course a.ttc-pre{background:url("../images/gd_11.png") no-repeat scroll left top transparent;}
.test-course .tab-test-course a.ttc-next{background:url("../images/gd_11.png") no-repeat scroll 0 -16px transparent;}
.test-course .wrap-bxslider{overflow:hidden;float:left;width:944px;}
.test-course .content-test{float:left;margin-top:15px;overflow:hidden;width:100%;}
.test-course .div-more-test{border-top:1px solid #DCDCDC;float:left;margin-top:15px;width:100%;}
.test-course .div-more-test .lnk-view-test{background:url("../images/gd_14.png") no-repeat scroll left top transparent;color:#FFFFFF;display:inline;float:left;font-size:14px;font-weight:bold;height:37px;line-height:37px;margin-left:415px;margin-top:10px;text-align:center;width:103px;}
.test-course .content-test .column-class{background:url("../images/gd_16.png") repeat-x scroll left bottom transparent;border:1px solid #DCDCDC;color:#565656;float:left;margin-right:5px;width:229px;padding-bottom:10px;}
.test-course .content-test .w-column-class{width:236px;float:left;}
.test-course .content-test .column-class .title-class{float:left;font-size:15px;font-weight:bold;height:30px;line-height:30px;text-align:center;width:100%;background:url(../images/gd_17.png) repeat-x left top;color:#ffffff;}
.test-course .content-test .column-odd .title-class{background:url("../images/gd_18.png") repeat-x scroll left top transparent;}
.test-course .content-test .column-class .ct-class{float:left;text-align:center;width:100%;}
.test-course .content-test .column-class .ct-class a{color:#565656;display:block;font-size:14px;font-weight:bold;line-height:18px;margin-top:10px;}
.test-course .content-test .column-class .ct-class a:hover{color:#00918d;}
.box-teacher .content-test .column-class{background:url(../images/gd_19.png) repeat-x left bottom;}
.test-course .content-test .column-class a.lnk-img-teacher{float:left;height:120px;margin-top:10px;overflow:hidden;padding-left:10px;width:210px;}
.test-course .content-test .column-class a.lnk-img-teacher img{width:210px;}
.test-course .content-test .column-class h3.info-teacher{border-top:1px solid #DCDCDC;float:left;font-size:12px;font-weight:normal;line-height:16px;margin-top:10px;padding-left:10px;padding-top:5px;width:219px;}
.test-course .content-test .column-class h3.info-teacher a{color:#565656;display:block;font-weight:bold;}
.test-course .content-test .column-class h3.info-teacher span{display:block;}
.box-test-online{background-color:#FFFFFF;clear:both;margin-top:15px;overflow:hidden;padding:10px 0px 10px 10px;position:relative;width:950px;}
.box-test-online .h2-to-title{border-bottom:0px;color:#00918d;float:left;font-size:15px;font-weight:bold;height:30px;line-height:30px;padding-left:10px;width:928px;}
.to-content{float:left;width:100%;}
.to-c-left{border:1px solid #DCDCDC;float:left;width:620px;margin-top:5px;}
.to-c-left .to-c-l-tile{background:url("../images/gd_22.png") repeat-x scroll left top #EFEFEF;border-bottom:1px solid #DCDCDC;color:#00918d;float:left;font-size:14px;line-height:22px;padding:5px 0px 5px 10px;width:610px;}
.to-c-left p.p-list{border-bottom:1px solid #DCDCDC;color:#565656;float:left;font-size:14px;font-weight:bold;height:30px;line-height:30px;padding-left:10px;width:610px;}
.to-c-l-list{float:left;position:relative;}
.to-c-l-list a.lnk-gopy{ background: url("../images/gd_10.png") no-repeat scroll left top transparent;color: #ffffff;cursor: pointer;float: left;
font-weight: bold;height: 27px;left: 50%;line-height: 27px;margin-left: -66px;position: absolute;text-align: center;top: 5px;width: 132px;z-index: 99;}
.to-c-l-list a.lnk-gopy:hover {background: url("../images/gd_10.png") no-repeat scroll left -27px transparent;color: #FFFFFF;}
.to-c-l-list .row{border-bottom:1px solid #DCDCDC;float:left;margin-bottom:1px;padding:10px 10px 10px 10px;width:600px;}
.to-c-l-list .row:hover, .to-c-l-list .row-active{color:#00918d !important;}
.row p.to-l-p-img{background:url("../images/gd_21.png") repeat-x scroll left top transparent;border:1px solid #DCDCDC;color:#FFFFFF;float:left;font-weight:bold;height:55px;margin-right:15px;text-align:center;width:70px;}
.row p.to-l-p-img span.sp-text{display:block;font-size:11px;line-height:17px;}
.row p.to-l-p-img span.sp-number{display:block;font-family:helvetica;font-size:40px;line-height:35px;}
.row p.to-l-p-name{line-height:18px;margin-top:15px;}
.to-c-l-list .row a:hover  p.to-l-p-name span{color:#00918D}
.row a.to-l-btn{background:url("../images/gd_20.png") no-repeat scroll left top transparent;color:#ffffff;float:right;font-size:11px;font-weight:bold;height:17px;line-height:14px;margin-top:17px;text-align:center;width:66px;}
.to-c-l-list .row:hover a.to-l-btn, .to-c-l-list .row-active a.to-l-btn{background:url("../images/gd_20.png") no-repeat scroll 0 -17px transparent;}
.to-l-view-more{float:left;height:40px;line-height:40px;padding-right:10px;text-align:right;width:610px;}
.to-l-view-more .to-l-lnk-more{color:#565656;font-weight:bold;}
.list-wrap{float:left;height:auto !important;}
.tab-thematic{background:url("../images/gd_22.png") repeat-x scroll left top transparent;border-bottom:1px solid #DCDCDC;color:#00918d;float:left;font-size:12px;height:30px;line-height:30px;padding-left:15px;width:615px;}
.tab-thematic h3.tt-title{float:left;width:215px;}
.tab-thematic a.tt-lnk{color:#565656;float:left;font-size:12px;font-weight:bold;height:30px;margin-right:10px;position:relative;text-align:center;width:172px;}
.tab-thematic a.tt-lnk:hover, .tab-thematic a.current{background:url("../images/gd_37.png") no-repeat scroll left bottom transparent;line-height:36px;color:#00918d;bottom:-1px;}
.lb-list-lessons{background-color:#FFFFFF;border:1px solid #DCDCDC;float:left;margin-top:15px;padding-bottom:5px;}
.lbl-title{background:url("../images/gd_22.png") repeat-x scroll left top transparent;border-bottom:1px solid #DCDCDC;color:#00918d;float:left;font-size:14px;height:30px;line-height:30px;padding-left:15px;width:615px;}
.lbl-wrap{float:left;width:308px;}
.lbl-wrap ul.lbl-ul{background-color:#FFFFFF;float:left;overflow:auto;padding-bottom:10px;width:308px;}
.lbl-wrap ul.lbl-ul li{float:left;margin-top:8px;width:100%;overflow:hidden;display:inline;}
.lbl-wrap ul.lbl-ul li a.lbl-lnk{color:#777777;line-height:20px;margin-left:15px;float:left;}
.lb-info .tcl-teacher{color:#565656;float:left;margin-top:5px;font-weight:bold;padding-bottom:3px;}
.box-news{width:318px;float:left;margin-top:15px;}
.bns-title{background:url("../images/gd_27.png") no-repeat scroll left top transparent;color:#FFFFFF;float:left;font-size:14px;height:30px;line-height:30px;padding-left:13px;width:100%;}
.bns-title .sp-title{float:left;padding-left:13px;}
.bns-content{background-color:#FFFFFF;border:1px solid #DCDCDC;float:left;width:316px;}
.bns-content .bns-row{float:left;padding:7px 0;width:100%;}
.bns-content .bns-row-odd{background-color:#F1F1F1;}
.bns-row .lnk-img{border:1px solid #DCDCDC;float:left;height:54px;margin-left:10px;overflow:hidden;width:96px;}
.bns-row .lnk-img img{width:96px;}
.bns-row h3.h3-title{float:right;font-size:13px;line-height:18px;padding-right:5px;width:195px;}
.bns-row h3.h3-title .lnk-title{color:#565656;}
.box-infor-teacher{background-color:#FFFFFF;border:1px solid #DCDCDC;clear:both;float:left;overflow:hidden;padding:10px 10px 15px 10px;position:relative;width:610px;}
.box-infor-teacher h2.btr-title{color:#00918D;float:left;font-size:15px;font-weight:bold;height:25px;line-height:25px;width:100%;}
.box-infor-teacher .btr-content{border:1px solid #DCDCDC;float:left;margin-top:7px;width:608px;}
.box-infor-teacher .btr-content .btr-left{float:left;border-right:1px solid #DCDCDC;width:230px;margin-right:10px;}
.box-infor-teacher .btr-content .btr-left .btr-img{float:left;padding:10px;width:210px;}
.box-infor-teacher .btr-content .btr-left .btr-img img{width:210px;}
.btr-content .btr-h3{background:url("../images/gd_22.png") repeat-x scroll left bottom transparent;border-top:1px solid #DCDCDC;color:#565656;float:left;font-weight:normal;line-height:17px;padding:7px 0;width:100%;}
.btr-content .btr-h3 p{float:left;padding-left:10px;font-size:12px;}
.btr-content .btr-h3 p span{font-weight:bold;}
.box-infor-teacher .btr-content .btr-right{padding-right:10px;padding-top:10px;}
.box-infor-teacher .btr-content .btr-right p{line-height:20px;color:#565656;}
.box-infor-teacher .btr-content .btr-right p span{font-weight:bold;}
.down-book{float:left;width:100%;text-align:center;padding-bottom:10px;background-color:#EBEBEB}
.down-book input.btn-down{background:none repeat scroll 0 0 #14928e;padding-bottom:3px;cursor:pointer;color:#ffffff;height:35px;line-height:35px;margin-top:15px;text-align:center;width:160px;text-decoration:none !important;border:0px;}
.down-book input.btn-down:hover ,.down-book input.btn-down .active{background:none repeat scroll 0 0 #0ebebc;color:#ffffff;}
.down-book a{background:none repeat scroll 0 0 #14928e;padding-bottom:3px;cursor:pointer;color:#ffffff;height:35px;line-height:35px;margin-top:15px;text-align:center;width:160px;text-decoration:none !important;border:0px;}
.down-book a:hover ,.down-book a .active{background:none repeat scroll 0 0 #0ebebc;color:#ffffff;}


.lb-share .lb-gopy {background: url("../images/gd_10.png") no-repeat scroll left top transparent;color: #ffffff;cursor: pointer;float: right;font-weight: bold;
height: 27px;line-height: 27px;margin-top: 12px;text-align: center;width: 132px;}
.lb-share .lb-gopy:hover {background: url("../images/gd_10.png") no-repeat scroll left -27px transparent;color: #FFFFFF;}
/*rank-member*/
.rb-rank-member {border-bottom: 1px solid #EDEEEE;float: left;margin-top: 10px;width: 307px;}
.rb-rank-member .rbm-title {background: url("../images/gd_27.png") repeat-x scroll left top transparent;color: #FFFFFF;float: left;font-size: 14px;height: 30px;line-height: 30px;padding-left: 13px;width: 294px;}
.rb-rank-member table {background-color: #FFFFFF;float: left;width: 100%;}
.rb-rank-member table th {border: 1px solid #EDEEEE;color: #00918d;padding: 4px;}
.rb-rank-member table td {border: 1px solid #EDEEEE;padding: 5px;}
.rb-rank-member table tr {}
.rb-rank-member table tr td.td-sp {text-align: center;}
.rb-rank-member table tr td.td-sp span {color: #00918d;font-weight: bold;}
.rb-rank-member table tr.tr-top {background-color: #E2EDFF;}
.rbm-more {background-color: #FFFFFF;border-left: 1px solid #DFDFDF;border-right: 1px solid #EDEEEE;float: left;height: 25px;line-height: 25px;text-align: right;width: 316px;}
.rbm-more .rbm-lnk-more {color: #565656;font-weight: bold;padding-right: 13px;}
.rb-active {float: left;margin-top: 15px;width: 318px;}
.vts-btn-new{ background: none repeat scroll 0 0 #00B7B2 !important;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    float:none !important;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 35px !important;
    line-height: 35px  !important;
    margin-top: 15px;
    text-align: center;
    text-decoration: none !important;
    }