.vts-highlight-item h3.vts-highlight-h3 a.vts-highlight-lnk{}
.vts-highlight-iig h3.vts-highlight-h3 a.vts-highlight-lnk{color:#14928e;font-size:17px;}
.vts-highlight-iig p.vts-highlight-statistic{color:#9e9e9e;line-height:20px;font-size:13px;margin-top:2px;margin-bottom:5px;height:75px;}
.vts-highlight-iig .menu-full-item{margin-left:0px;width:auto;height:auto;}
.vts-highlight-iig .menu-full-item ul.menu-item-ul{margin-top:0px;}
.vts-highlight-iig .menu-full-item ul.menu-item-ul li{width:100%;}
.vts-highlight-iig .menu-full-item ul.menu-item-ul li a{color:#616161;padding-right:5px;}
.vts-highlight-iig .vts-highlight-item .vts-highlight-lnk-img{height:150;}
.left-body .banner-news,.left-body .banner-news .box-banner,.left-body .box-banner ul.bxslider-banner li img, .left-body .banner-news .box-banner ul.bxslider-banner,.left-body .banner-news .box-banner ul.bxslider-banner li{width:632px !important;padding-top:0px;}
.title-igg {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
}
.box-rate {
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 10px;
    padding: 0 10px;
    width: 285px;
    height:300px;
}
#series-detail-avg-rating {
    border-bottom: 1px solid #f0f0f0;
    height: 24px;
    padding: 10px 0;
}
#series-detail-avg-rating div {
    color: #333333;
    display: inline-block;
    font-size: 15px;
    width: 100px;
}
.rating-00, .rating-05, .rating-10, .rating-15, .rating-20, .rating-25, .rating-30, .rating-35, .rating-40, .rating-45, .rating-50 {
    background-image: url("../images/ratings.html");
    background-repeat: no-repeat;
    height: 16px;
    width: 100px;
}
.rating-00 {
    background-position: -100px 0;
}
.rate-tab {
    width: 100%;
}
.tab-p-title {
    color: #000000;
    font-size: 17px;
    margin-top: 10px;
}
.tab-p-lnk {
    font-weight: normal;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
.tab-p-lnk a {
    background: none repeat scroll 0 0 #f0f0f0;
    color: #333333;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 125px;
}
.tab-p-lnk a.active {
    background: none repeat scroll 0 0 #14928e;
    color: #ffffff;
}
.wrap-tab{height:90px;overflow:hidden;}
.select-tab {
    margin-top: 10px;
}
.select-tab span {
}
.select-tab tr{
    color: #333333;
    display: block;
    font-size: 14px;
    margin-bottom: 7px;}
.select-tab tr input 
{
	margin-right:5px;
}
.p-btn {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.p-btn a {
    background: none repeat scroll 0 0 #14928e;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    width: 120px;
}
.breadcrumb-igg{width:100%;color:#333333;font-weight:bold;font-size:20px;margin-bottom:20px;margin-top:5px;}
.banner-news .box-banner{height:auto;}
