body {
    font-family: "Segoe UI", Arial;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

#front-content table {
    font-size: 13px;
}

.front-viettel-green-button {
    background: #14928e;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 20px;
    cursor: pointer;
    color: white;
    border: none;
}

.front-viettel-green-button:hover {
    background: #0ebebc;
}

.front-grey-button {
    border: 1px solid #c2c2c2;
    display: inline-block;
    color: #303030;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}

.front-grey-button:hover {
    cursor: pointer;
}

.grey:active {
    position: relative;
}

.front-inset-box {
    border: 1px solid #E0E0E0;
    padding: 10px 10px 10px 10px;
}

#front-content-box {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    min-height: 500px;
}

.notice-message a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.notice-message {
    width: 1000px;
    height: 20px;
    margin: 10px auto;
    font-weight: bold;
    font-size: 13px;
}

.notice-message .manual {
    float: right;
}

#front-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background: white;
    min-height: 700px;
    padding: 1px 20px 1px 20px;
}

.rating-00,
.rating-05,
.rating-10,
.rating-15,
.rating-20,
.rating-25,
.rating-30,
.rating-35,
.rating-40,
.rating-45,
.rating-50 {
    background-image: url('../../img/global/ratings.png');
    width: 100px;
    background-repeat: no-repeat;
    height: 16px;
}

.rating-00 {
    background-position: -100px 0px;
}

.rating-05 {
    background-position: -80px -20px;
}

.rating-10 {
    background-position: -80px 0px;
}

.rating-15 {
    background-position: -60px -20px;
}

.rating-20 {
    background-position: -60px 0px;
}

.rating-25 {
    background-position: -40px -20px;
}

.rating-30 {
    background-position: -40px 0px;
}

.rating-35 {
    background-position: -20px -20px;
}

.rating-40 {
    background-position: -20px 0px;
}

.rating-45 {
    background-position: -0px -20px;
}

.rating-50 {
    background-position: 0px 0px;
}

a img {
    border: none;
}

.front-grey-menu {
    border-bottom: 1px solid #E8E8E8;
    margin-top: 0px;
    padding-top: 0px;
}

.front-flat-menu {
    margin: 0px auto;
    height: 40px;
    padding-left: 10px;
}

.front-flat-menu a {
    text-decoration: none;
    color: #565656;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.front-flat-menu-item-active,
.front-flat-menu-item-inactive {
    list-style: none;
    float: left;
    height: 24px;
    max-width: 120px;
    min-width: 90px;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
    margin-top: 7px;
    position: relative;
    text-shadow: 1px 1px 0px #ffffff;
    color: #303030;
    padding-top: 4px;
    padding-bottom: 4px;
}

.front-flat-menu-item-active {
    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid white;
    background: white;
}

.front-flat-menu-item-active a {
    color: #00918D !important;
}

.front-flat-menu-item-inactive {
    border: 1px solid #E3E3E3;
    background: #ECECEC;
    -moz-box-shadow: inset 0px 1px 0px 0px #FBFBFB;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FBFBFB;
    -ms-box-shadow: inset 0px 1px 0px 0px #FBFBFB;
    -o-box-shadow: inset 0px 1px 0px 0px #FBFBFB;
    box-shadow: inset 0px 1px 0px 0px #FBFBFB;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FBFBFB), color-stop(1, #ECECEC));
    background: -moz-linear-gradient( center top, #FBFBFB 5%, #ECECEC 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#ECECEC');
    color: #303030;
    text-shadow: 1px 1px 0px #ffffff;
}

.front-flat-menu-item-inactive:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ECECEC), color-stop(1, #F9F9F9));
    background: -moz-linear-gradient( center top, #ECECEC 5%, #F9F9F9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ECECEC', endColorstr='#F9F9F9');
    background-color: #E9E9E9;
    cursor: pointer;
}

.frontend-green-button,
.frontend-blue-button {
    font-size: 13px;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    color: white;
    background: #14928e;
    cursor: pointer;
}

.frontend-green-button:hover,
.frontend-blue-button:hover {
    background: #0ebebc;
    cursor: pointer;
}

#front-menu {
    z-index: 10;
}

#front-menu .menu-subitem-list {
    z-index: 100;
}

#front-content-box {
    z-index: 0;
}

#front-bluebar {
    z-index: 101;
}

.fb-like {
    margin-top: 20px;
    margin-bottom: 10px;
}

.fb-like-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#facebook-comment-box {
    margin-left: 20px;
    text-align: center;
    font-family: "Segoe UI", "Arial" !important;
}

.fb-comments {
    margin-left: auto;
    margin-right: auto;
}

.global-inset-box-shadow {
    background: white;
    box-shadow: inset 0px -1px 20px 0px #F0F0F0;
}

.ucan-logo-footer {
    background: url(../../img/viettel/ucan.png) no-repeat center;
    background-size: 70%;
    width: 200px;
    height: 75px;
    display: inline-block;
    float: left;
}

.popup-vts-pro {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.5);
    /*display: none;*/
}

.popup-vts-pro-content {
    width: 450px;
    height: 250px;
    background: #fff;
    margin: 130px auto;
    border-radius: 5px;
    border: 6px solid #14928e;
    position: relative;
}

.popup-vts-pro-header {
    background: #14928e;
    color: #fff;
    padding: 5px 20px 15px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.popup-vts-pro-cancel {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.popup-vts-pro-button-cancel {
    margin-right: 20px;
}

.popup-vts-pro-body {
    padding: 30px 20px;
    font-size: 16px;
    line-height: 20px;
}

.popup-vts-pro-footer {
    background: #F8F8F8;
    border-top: 1px solid #E8E8E8;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
