body {
    font-family: Tahoma;
    font-size: 13px;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
a {
    color: #000000;
    cursor: pointer;
    outline: 0 none;
    text-decoration: none;
}
img {
    border: 0 none;
}
object {
    outline: 0 none;
}
embed {
    outline: 0 none;
}
ul {
    list-style: outside none none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
div, h1, h2, h3, h3, h4, h5, h6, p, a, span, ul, input, td {
    margin: 0;
    padding: 0;
}
body {
	background:url(../images/bg_top2.png) repeat left top;
    font-family: Arial !important;
    position: relative;
}
#wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.clear {
    clear: both;
}
.f-left {
    float: left;
}
.martop_0 {
    margin-top: 0 !important;
}
.bold {
    color: #565656;
    font-weight: bold;
}
.hidden {
    display: none;
}
a.under:hover {
    text-decoration: underline;
}
.cl {
    color: #00918d;
}
.clhover:hover {
    color: #00918d !important;
}
#body {
    margin-left: auto;
    margin-right: auto;
    min-height: 640px;
    overflow: hidden;
    padding-top: 16px;
    position: relative;
    width: 960px;
}
#body-content {
    margin-top: 15px;
    overflow: hidden;
    width: 100%;
}
.left-body {
    float: left;
    width: 632px;
}
.right-body {
    float: right;
    width: 318px;
}
html {
    height: 100%;
    position: relative;
}
.body-vts-dk {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 99;
}
.logo-vts-dk {
    display: block;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}
.title-exam-h1 {
    color: #e4e4e4;
    font-size: 40px;
    margin-top: 0;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
.title-exam-h2 {
    color: #14928e;
    font-size: 21px;
    margin-bottom:20px;
}
.content-sms-p {
    color: #ffffff;
    font-size: 18px;
    margin-top: 11px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
.try-exam {
    background: #14928E;
    padding: 15px 0 10px;
	margin-bottom:20px;
}
.try-exam-h3 {
    color: #ffffff;
    font-size: 21px;
    margin-bottom: 18px;
}
.try-exam-ul {
    overflow: hidden;
}
.try-exam-li {
    float: left;
    margin-bottom: 15px;
    width: 50%;
}
.try-exam-lnk {
    background: url(../images/icon_01.png) no-repeat left center;
    color: #ffffff;
    font-size: 18px;
	padding:2px 0px 2px 33px;
	display:block;
	cursor:auto;
}
.try-exam-lnk.lnk_01 {
    background: url(../images/icon_01.png) no-repeat left 1px;
}
.try-exam-lnk.lnk_02 {
    background: url(../images/icon_02.png) no-repeat left 1px;
}
.try-exam-lnk.lnk_03 {
    background: url(../images/icon_03.png) no-repeat left 1px;
}
.try-exam-lnk.lnk_04 {
    background: url(../images/icon_04.png) no-repeat left 1px;
}
.form-btn-dk {
    margin: 0 auto;
    overflow: hidden;
}
.btn-dk-subject {
  background: #f7941d none repeat scroll 0 0;
    color: #ffffff;
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 65px;
    line-height: 65px;
    margin-bottom: 40px;
    margin-right: 30px;
    text-align: center;
    width: 265px;
}
.bg_toan{background:#F7941D}
.bg_ly{background:#B74CB8}
.bg_hoa{background:#2ABBB0}
.bg_anh{background:#00AEEF}
.bg_sinh{background:#ED145B}
.bg_van{background:#00A651}
.bg_a{background:#2E3192}
.bg_a1{background:#A0410D}
.bg_a2{background:#00AEEF}
.bg_b{background:#0076A3}
.bg_b1{background:#4B0049}
.bg_b2{background:#827B00}
.btn-dk-subject img {
	float:right
}
.wrap-try-exam {
    margin: 0 auto;
    width: 810px;
}
.bg-girl {
    bottom: 0;
    position: absolute;
    right: 0;
}
.p-thele {
    margin-top: 20px;
    text-align: center;
}
.p-thele a {
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}
.body-vts-dk {
    padding-bottom: 20px;
}
.ul-try-exam {
    color: #6a6a6a;
    font-size: 16px;
    overflow: hidden;
}
.ul-try-exam li {
    float: left;
    margin-bottom: 10px;
    width: 33.33%;
	font-weight: bold;
}
.ul-try-exam li a {
    color: #14928e;
    font-weight: bold;
}
	

.wrap-form {
    margin: 0 auto;
    width: 960px;
    position:relative;
}
.menu-dk {
    background: #14928e none repeat scroll 0 0;
    font-size: 15px;
    overflow: hidden;
    padding: 10px 0;
}
.menu-dk a {
    color: #ffffff;
    float: left;
    margin-left: 20px;
}
.box-top-dk {
    background: rgba(0, 0, 0, 0) url("../images/bg_top.png") repeat-x scroll left top;
    height: 375px;
    overflow: hidden;
    position: relative;
}
.box-top-dk .wrap-form {
    background: rgba(0, 0, 0, 0) url("../images/bg_top2.png") repeat-x scroll left top;
    height: 400px;
    position: relative;
}
.top-img-txt {
    margin-top: 60px;
}
.top-img-girl {
    bottom: -24px;
    position: absolute;
    right: 0;
}
.dk-notice {
	color:#303030;
	font-size:16px;font-weight:bold;
	border-bottom:1px solid #14928E;
	padding:10px 0px;
	background:#eff8f7;
}
.tab-lichthi {
    color: #14928e;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 15px;
}
.tab-lichthi a {
    color: #b7d6d5;
}
.tab-lichthi a.active {
    color: #14928e;
}
.box-lichthi{margin-bottom:20px;}
.bg_footer{}
.header-dk{text-align:center;position:relative;}
		.logo-header-dk{}
		.logo-header-dk img{}
		.bg_footer{padding:10px 0px;color:#333333;font-size:12px;line-height:18px;border-top:39px solid #14928e;}
		.logo_dk{float:left;}
		.logo_dk img{}
		.policy_dk{}
		.policy_dk a{color:#333333;}
		.box-form-btn{border-top:1px solid #14938C;padding-top:25px}
		.form-dk-khoi{border-top:none;padding-top:0px;}
		.toeic-cbnv {
    color: #14928e;
    position: absolute;
    right: 0px;
    top: 36px;
}
		.toeic-cbnv a{color:#14928e;}
		#lichthi > li > span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-top: 7px;
    padding-right: 15px;
}
@media all and (max-width: 768px)  
{
	.wrap-form {
		width:auto;
		margin:0px 10px
}
.ul-try-exam {padding:0px 15px;width:auto;}
.ul-try-exam li{width:100%;}
.body-vts-dk{padding-bottom:20px;}
.title-exam-h1{font-size:22px;padding:0px 10px}
.content-sms-p{font-size:17px;padding:0px 10px}
.bg-girl{display:none;}
body{}
.try-exam-li{width:100%;margin-bottom:5px;}
.wrap-try-exam{width:auto;padding:0px 10px;}
.try-exam-h3{font-size:17px;text-transform: uppercase;}
.form-btn-dk {width: 320px;}
.btn-dk-subject{margin:15px 5px 0px}	
.logo-vts-dk{margin-top:10px;}	
.logo-vts-dk > img {
    width: 205px;
}
.box-form-btn{margin-bottom:20px;}
}
@media all and (max-width: 500px) 
{
	.header-dk {
    height: 49px;
    text-align: center;
}
.logo_dk {
    display: block;
    float: none;
    text-align: center;
}
.toeic-cbnv{top:16px;}
.logo_dk img {
    width: 128px;
}
.logo-header-dk{float:left;height:49px;overflow:hidden;margin-left:0px;}
.logo-header-dk img {
    width: 115px;
}
	.menu-dk a {
    color: #ffffff;
    float: left;
    font-size: 12px;
    margin-left: 9px;
}
.top-img-txt {
    margin-top: 15px;
    width: 108px;
}
.top-img-girl {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 286px;
}
.box-top-dk .wrap-form, .box-top-dk  {
    height: 200px;
}
}